body{
    color: green;
    background-color: silver;
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects{
    color:rgb(15, 168, 214);
}
#camera{
    width: 350px;
    height: 300px;
    border:2px dotted steelblue;
}
#object_name
{
    color:teal
}
#accuracy_name
{
    color:turquoise;
}